
<!-- Modal -->
<div id="myNhap" class="modal fade " role="dialog">

    <form role="form" name="form" ng-submit="onSubmit()">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{nhaphang}}</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <table>
                            <tbody>
                                <tr>
                                    <td>Mã Đơn Hàng</td>
                                    <td><input type="text" ng-model="MaDonHang1" required="" /></td>
                                </tr>
                                <tr>
                                    <td>Ngày Ghi</td>
                                    <td><input type="date" ng-model="NgayGhi" required="" /></td>
                                </tr>
                                <tr>
                                    <td>Nhà Cung Cấp</td>
                                    <td>
                                        @*<input list="lncc" class="form-inline" ng-model="TenNcc" name="TenNcc" required="" placeholder="Chọn Nhà Cung Cấp">*@

                                        <a href="@Url.Action("Index", "Ncc")" style="float: left;" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-left" title="Thêm nhà cung cấp">
                                            <i class="material-icons">
                                                add
                                            </i>
                                        </a>
                                        <div style="float: left; margin-top: 00px">
                                            <input list="lncc" class="form-control" ng-model="TenNcc" name="TenNcc" required="" placeholder="Chọn Nhà Cung Cấp">
                                            @*<select id="lncc" class="dropdown-menu" ng-model="TenNcc" name="TenNcc" required="" placeholder="Chọn Nhà Cung Cấp">
                                                    <option ng-repeat="x in nccs" value="{{x}}">{{x}}</option>
                                                </select>*@
                                            <datalist id="lncc" class="dropdown-menu" ng-model="TenNcc" name="TenNcc" required="" placeholder="Chọn Nhà Cung Cấp">
                                                <option ng-repeat="x in nccs" value="{{x}}">{{x}}</option>
                                            </datalist>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Số Lượng</td>
                                    <td><input ng-model="n" type="number" ng-change="onChoise()" placeholder="Số Lượng Hàng" /></td>
                                </tr>
                            <tr>
                                <td>VAT</td>
                                <td>
                                    <input style="width: 85px" type="text" list="vats1" ng-model="vat" required="" placeholder="VAT" />
                                    <datalist id="vats1">
                                        <option ng-repeat="x in vats" value="{{x}}"></option>
                                    </datalist>
                                </td>
                            </tr>
                            </tbody>
                        </table>


                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tên Hàng</th>
                                <th>Số Lượng</th>
                                <th>ĐVT</th>
                                <th>Đơn Giá</th>
                                <th>Thành Tiền</th>
                                <th>Ghi Chú</th>
                               <th> Detail</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="w in l">
                                <td>{{$index+1}} <input ng-model="w.Id" hidden="" /></td>

                                <td>
                                    @*<input type="text" ng-model="w.TenHang" required=""/>*@
                                    <input list="browsers" style="width: 100px" ng-model="w.TenHang" name="browser" required="" placeholder="Chọn">
                                    <datalist id="browsers">
                                        <option ng-repeat="x in getTenHg" value="{{x}}"></option>
                                    </datalist>
                                </td>
                                <td> <input style="width: 50px" type="number" ng-model="w.SoLuong" required="" ng-change="tong()" /></td>
                                <td>
                                    <input style="width: 65px" type="text" list="dvt" ng-model="w.Dvt" required="" placeholder="Chọn DVT" />
                                    <datalist id="dvt">
                                        <option ng-repeat="x in dvts" value="{{x}}"></option>
                                    </datalist>
                                </td>
                                <td>
                                    <input style="width: 100px" type="number" ng-model="w.DonGiaMua" required="" ng-change="tong()" />
                                </td>
                                <td style="text-align: left">{{w.SoLuong*w.DonGiaMua|number}}&nbsp;</td>
                                <td><input ng-model="w.GhiChu"/></td>
                                <td>
                                    <button class="btn btn-primary waves-effect" ng-click="xoa($index)" ng-if="createi">Xóa</button>
                                    <button class="btn btn-danger waves-effect" ng-click="xoaedit(w.Id)" ng-if="!createi">Xóa</button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3"><input ng-model="w.Id" hidden="" /></td>
                                <td colspan="2"><b style="text-align: right">Tổng</b></td>
                                <td>{{sum|number }}</td>
                            </tr>
                            <tr>
                                <td colspan="3"></td>
                                <td colspan="2"><b style="text-align: right">Thanh Toán</b></td>
                                <td><input type="number" ng-change="tong()" ng-model="thanhtoan" /></td>
                            </tr>
                            <tr>
                                <td colspan="3"></td>
                                <td colspan="2"><b style="text-align: right">Còn Lại</b></td>
                                <td>{{conlai|number}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary waves-effect">{{them}}</button>
                    <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </form>
</div>
<style>
    .ab_center {
        /*height:300px;
        width:300px;*/
        /*background-color:#27f305;*/
        position: relative;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
</style>