.printMdh_hide {
    background: white;
    width: 210mm;
    height: 297mm;
    display: none
}
.printMdh_show {
    position: fixed;
    top: 0;
    left: 0;
    /*width: 210mm;
    height: 297mm;*/
    display: grid;
    background-color:lightblue;
    z-index: 999;
    margin-left: 2px
}