.printMdh_hide {
    background: white;
    width: 210mm;
    height: 297mm;
    display: none
}
.printMdh_show {
    position: fixed;
    top: 0;
    left: 0;
    /*width: 210mm;
    height: 297mm;*/
    display: grid;
    background-color:lightblue;
    z-index: 999;
    margin-left: 2px
}
.padding-2 {
    padding-bottom: 2px !important;
    padding-top: 2px !important;
    border-top: 1px solid rgba(255, 255, 255, 0) !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0) !important;
}
